@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');

body {
    color: #1F314F;
    background: rgb(107, 172, 187);
    font-family: 'Roboto', sans-serif;
}
.qr__card {
    width: 20rem;
    height: 31.0625rem;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    border-radius: 1.25rem;
}

.qr__icon {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    opacity: 90%;
}